@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Montserrat:wght@300&family=Raleway&display=swap");

* {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

header.container {
  height: 15em;
  display: grid;
  background-image: url(texture.jpg);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  box-shadow: inset 0 0 10px rgba(221, 198, 198, 0.516);
  padding-top: 100px;
  padding-bottom: 150px;
}

.container > h1 {
  font-size: 3em;
  font-family: "Montserrat Alternates", sans-serif;
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
  color: rgb(101, 101, 101);
  letter-spacing: 0.5rem;
  margin-bottom: 0;
  margin-top: 30px;
  padding-top: 70px;
}

.container > h4 {
  color: rgb(48, 48, 48);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.2em;
  margin-top: 0;
  padding-bottom: 10px;
  margin-bottom: 4em;
  text-shadow: 1px 1px 1px rgb(255, 255, 255) !important;
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr;
}

.wrapper > div.pad {
  padding: 4em 12em;
}

.wrapper > div.pad:nth-child(even) {
  box-shadow: inset 0 0 10px rgba(221, 198, 198, 0.516);
  background-image: url(texture.jpg);
  background-size: cover;
  background-attachment: fixed;
}

div.pad > h2 {
  padding: 0 0 1em 0;
  color: rgba(93, 93, 93, 0.692);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

div.justify {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  color: rgba(93, 93, 93, 0.692);
}

div.pad > p {
  text-align: justify;
  padding: 1em 0;
  color: rgba(80, 80, 80, 0.815);

  font-size: large;
}

div.logo {
  margin-left: 12em;
  font-size: 0.9em;
  text-align: left;
}

div.logo-div {
  margin-top: 1em;
}

div.logo-div > a:hover {
  border-left: 1px dotted rgb(221, 198, 198);
}

nav {
  margin-right: 12rem;
  font-size: 0.9em;
}

ul {
  text-align: right;
}

li {
  display: inline;
  font-family: "Montserrat Alternates", sans-serif;
}

a {
  color: rgba(93, 93, 93, 0.692);
  text-decoration: none;
  padding-right: 0.5em;
  padding-left: 0.5em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

li:hover {
  border-left: 1px dotted rgb(221, 198, 198);
}

a:hover {
  color: rgba(0, 0, 0, 0.6);
}

footer {
  text-align: center;
  color: rgba(93, 93, 93, 0.288);
  margin: 10px 0;
}

/* portfolio page */

div.portfolio-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: rgb(0, 0, 0);
  align-items: center;
}

img.portfolio-even {
  justify-self: end;
}

p,
img.portfolio-odd,
div.portfolio-style > h2 {
  padding-bottom: 1em;
  padding-top: 1em;
}

div.portfolio-style > p {
  text-align: justify;
}

h2.h-odd,
img {
  text-align: right;
}

div.form-container {
  padding: 1em 15em;
  color: rgba(93, 93, 93, 0.822);
  /* text-align: center; */
  /* max-width: 500px; */
}

form.form-style {
  display: grid;
  grid-template-rows: 1fr;
}

form.form-style > input,
textarea {
  border-color: rgb(221, 198, 198);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  margin-bottom: 1em;
}

button.form-submit {
  background: rgba(93, 93, 93, 0.571);
  color: white;
  border: none;
  height: 25px;
  width: 80px;
  font: bold 15px;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #eee;
}

/* contact end */

@media screen and (max-width: 992px) {
  body {
    margin: 0;
    padding: 0;
  }
  ul {
    padding: 0;
  }
  li {
    display: inline;
    padding: 0;
  }
  a {
    padding-right: 3px;
  }
  .wrapper > div {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  nav {
    margin-right: 6em;
  }
  div.logo {
    margin-left: 6em;
  }
  div.logo {
    margin-left: 6em;
  }
  .wrapper > div.pad {
    margin: 0;
    padding: 6em;
  }
  .container > h1 {
    font-size: 3em;
  }
  div.portfolio-grid {
    display: grid;
    grid-template-columns: 1fr;
    color: rgb(0, 0, 0);
    align-items: center;
  }
  img {
    justify-self: center;
  }
  img.portfolio-even {
    justify-self: center;
    padding-top: 2em;
  }
  img.portfolio-odd {
    padding-bottom: 2em;
  }
  div.form-container {
    padding: 1em 6em;
  }
  div.portfolio-style > h2 {
    text-align: center;
  }
}

@media screen and (max-width: 724px) {
  body {
    margin: 0;
    padding: 0;
  }
  ul {
    padding: 0;
  }
  li {
    display: inline;
    padding: 0;
  }
  a {
    padding-right: 3px;
  }
  .wrapper > div {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  nav {
    margin-right: 1em;
  }
  div.logo {
    margin-left: 1em;
  }
  div.logo {
    margin-left: 1em;
  }
  .wrapper > div.pad {
    margin: 0;
    padding: 1em;
  }
  .container > h1 {
    font-size: 3em;
  }
  div.form-container {
    padding: 1em 2em;
  }
}
